<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_form</title>
    <style>
        form{
            display:  flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
  <center> <h1>Login </h1></center> 
    <form action="/login" method="POST">
        <label for="loginId">Email Or Username</label>
        <input type="text" placeholder="Enter Email or username" name="loginId" required>
         <label for="password">Password</label>
        <input type="text" placeholder="Enter Password" name="password" required>  
        <button type="submit">Login</button>
    </form>
</body>
</html>